{% extends 'quotesapp/base.html' %}

{% block content %}
<div class="container">
    <h2>Add a New Author</h2>
    <form method="POST" action="{% url 'quotesapp:add_author' %}">
        {% csrf_token %}
        <div style="padding: 10px">
            <label for="id_fullname">Enter the author name:</label>
            {{ form.name }}
            <span>{{ form.errors.name }}</span>
        </div>
        
        <div style="padding: 10px">
            <label for="id_birth_date">Enter the author's birth date:</label>
            {{ form.born_date }}
            <span>{{ form.errors.born_date }}</span>
        </div>
        
        <div style="padding: 10px">
            <label for="id_description">Enter a brief description:</label>
            {{ form.bio }}
            <span>{{ form.errors.bio }}</span>
        </div>
        
        <div class="grid" style="padding: 10px">
            <button type="submit">Save</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
</div>
{% endblock %}